.button-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 equal columns */
  grid-template-rows: repeat(2, 1fr);    /* Creates 2 equal rows */
}

.boton-home {
	width: 30%;
	height: 20%;
}

.imagen-boton {
	width: 25%;
}

.centrado-vertical {
	display: flex;
	flex-flow: column nowrap;
	margin: 1%;
}

.centrado-horizontal {
	display: flex;
	flex-flow: row wrap;
}
